/* header content ------------------------------------------------------------------ */

.search-header {
	margin: 0 0 0.5em 0;
}
.search-header .search-count {
	float: left;
}
.search-header .search-sort {
	float: right;
	text-align: right;
}
.search-header .search-sort select {
	display: inline-block;
	width: auto;
}

.search-header:before,
.search-header:after {
	content: " ";
	display: table;
}

.search-header:after {
	clear: both;
}

/* suggestions dropdown ----------------------------------------------------------- */

.shop-search.ui-autocomplete .ui-autocomplete-category {
	font-weight: bold;
	border-top: 1px solid #888;
	padding: .2em .4em;
	margin-top: .5em;
}
.shop-search.ui-autocomplete .ui-autocomplete-category:first-child {
	border-top: none;
	margin-top: 0;
}


.shop-search.ui-autocomplete .product {
	display: block;
	position: relative;
}
.shop-search.ui-autocomplete .product span {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shop-search.ui-autocomplete .product span.desc {
	font-size: 0.8em;
	font-style: italic;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 500px;
}
.shop-search.ui-autocomplete .product img {
	max-width: 60px;
	position: absolute;
	left: 3px;
	top: 3px;
}
.shop-search.ui-autocomplete .product.thumb {
	padding-left: 70px;
	min-height: 60px;
}

.shop-search.ui-autocomplete .ui-menu-item .ui-state-focus {
	background: #ddd;
	border-radius: 0;
	border: none;
	margin: 0;
}

/* make the form full inline ------------------------------------------------------ */

#ShopSearchForm_SearchForm fieldset,
#ShopSearchForm_SearchForm div {
	float: left;
	margin: 0;
}

#ShopSearchForm_SearchForm select {
	width: auto;
	max-width: 120px;
}

#ShopSearchForm_SearchForm .Actions {
	margin-left: 3px;
}

/* clearfix the form itself */
#ShopSearchForm_SearchForm:before,
#ShopSearchForm_SearchForm:after {
	content: " ";
	display: table;
}
#ShopSearchForm_SearchForm:after {
	clear: both;
}


/* facets ------------------------------------------------------------------------ */

.facets {
	padding: 0px 20px 15px;
}
.facets .expander-container {
	position: relative;
	padding-left: 10px;
}
.facets .expander-container .expander {
	color: #787878;
	position: absolute;
	left: -10px;
	width: 15px;
	text-align: center;
}
.facets .expander-container .expander .fa {
	font-size: 1.5em;
}
.facets .facet-range, .facets .facet-checkbox {
	padding-bottom: 15px;
}
.facets .facet-range h4, .facets .facet-checkbox h4 {
	font-size: 13px;
	font-weight: 600;
	color: #404040;
	position: relative;
	left: -9px;
}
.facets .range-facet-label {
	padding-top: 10px;
}
.facets .facet-link {
	margin: 0 -20px;
}
.facets .facet-range {
	padding-top: 15px;
	padding-bottom: 0;
}
.facets ul {
	margin: 0;
}
.facets ul li {
	padding-left: 20px;
	list-style: none;
}
.facets label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.facets label input[type=checkbox],
.facets label .checkbox {
	margin-bottom: .5em;
}
